<h1>New Task</h1>
<%= error_messages_for :task %>
<%- form_for @task do |f| -%>
  <%= label :task, :title %>
  <%= f.text_field :title %>
  <%= submit_tag 'Create' %>
<%- end -%>
<%= link_to 'All Tasks', tasks_path %>